@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Light.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2");
}
@font-face {
  font-weight: 500;
  font-family: "Cormorant";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Medium.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Cormorant";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Bold.woff2") format("woff2");
}
:root {
  --primary-color: #FF8126;
  --primary-text-color: #1f1f1f;
  --secondary-text-color: #fff;
  --footer-links-color: #3D3D3D;
  --product-card-background: #F7F5F0;
  --product-discount-color: #656565;
  --quality-card-border-colors: #F7F5F0;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Cormorant", serif;
  --primary-container-padding: 1rem;
  --cards-border-radius: 1.25rem;
}

.container, .hero-content {
  padding: 0 var(--primary-container-padding);
  margin: 0 auto;
  max-width: calc(1170px + var(--primary-container-padding) * 2);
}

.button {
  padding: 0.5rem 2rem;
  background: var(--primary-color);
  border-radius: 0.25rem;
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.button-filled {
  width: 100%;
}

.product {
  border-radius: var(--cards-border-radius);
  background: var(--product-card-background);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.product-media {
  aspect-ratio: 270/160;
}
.product-wrapper {
  padding: 1.25rem 1.25rem 2rem;
  display: grid;
  gap: 1.25rem;
  text-align: center;
}
.product-caption {
  display: grid;
  gap: 0.5rem;
}
.product-title {
  font-size: 1.125rem;
  font-weight: 500;
}
.product-price {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}
.product-discount {
  color: var(--product-discount-color);
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration-line: line-through;
  margin-left: 0.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}
.grid--columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid--columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.quality-card {
  padding: 1rem;
  display: grid;
  gap: 1.25rem;
  border: 1px solid var(--quality-card-border-colors);
  border-radius: var(--cards-border-radius);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
}
.picture-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.page-main {
  flex-grow: 1;
}
.page-main > *:first-child {
  margin-top: 0;
}
.page-main > *:last-child {
  margin-bottom: 0;
}
.page-footer {
  margin: auto 0 0;
}

.hero {
  position: relative;
  padding: 125px 0;
}
.hero-picture, .hero-gradient {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -2;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 100%;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-gradient {
  z-index: -1;
  background: linear-gradient(90deg, lightgray 40%, transparent 66%);
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.hero-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-title {
  font-family: var(--secondary-font);
  font-size: 3.125rem;
  line-height: normal;
}
.hero-teaser {
  font-size: 1.625rem;
  font-weight: 300;
  margin: 0;
}

.section {
  margin: 80px 0;
}
.section--padding {
  padding: 60px 0;
}
.section--grid .section-title, .section--grid-revert .section-title {
  text-align: left;
}
.section-title {
  color: var(--primary-text-color);
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 2.5rem;
}
.section-title-span {
  color: var(--primary-color);
}
.section-heading {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}/*# sourceMappingURL=styles.css.map */