.button {
    padding: 0.5rem 2rem;
    background: var(--primary-color);
    border-radius: .25rem;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    

    &-filled {
        width: 100%;
    }
}