.grid {
    display: grid;
    gap: 2rem;

    &--columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &--columns-4 {
        grid-template-columns: repeat(4, 1fr);
    }    

    &--columns-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}   


