:root {
  --primary-color: #FF8126;
  --primary-text-color: #1f1f1f;
  --secondary-text-color: #fff;
  --footer-links-color: #3D3D3D;

  // fonts
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Cormorant', serif;

  //paddings
  --primary-container-padding: 1rem;
}

.container {
  padding: 0 var(--primary-container-padding);
  margin: 0 auto;
  max-width: calc(1280px + var(--primary-container-padding) * 2);
}