@import './typography';
@import './root';
@import './button';
@import './products';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.page {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &-header {}

  &-main {
    flex-grow: 1;
    
    & > *:first-child {
      margin-top: 0;
    }
  
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &-footer {
    margin: auto 0 0;
  }
}

.hero {
  position: relative;
  padding: 125px 0;
  
  &-picture {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -2;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 100%;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  &-gradient {
    @extend .hero-picture;

    z-index: -1;
    background: linear-gradient(90deg ,lightgray 40%, transparent 66%);
  }

  &-content {
    @extend .container;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &-heading {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &-title {
    font-family: var(--secondary-font);
    font-size: 3.125rem;
    line-height: normal;
  }

  &-teaser {
    font-size: 1.625rem;
    font-weight: 300;
    margin: 0;
  }
}

.section {
  $this: &;

  margin: 80px 0;

  &--padding {
    padding: 60px 0;
  }

  &--grid,
  &--grid-revert {
    #{$this} {
      &-title {
        text-align: left;
      }
    }
  }

  &-title {
    color: var(--primary-text-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 2.5rem;
  }

  &-title-span {
    color: var(--primary-color);
  }

  &-heading {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
  }
}


