@import './typography';
@import './root';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  font-family: var(--primary-font);
}

main {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.section {
  margin: 80px 0;

  &-title {
    font-size: 3rem;
  }

  &-caption {
    font-size: 1.5rem;
  }

  &--padding {
    padding: 60px 0;
  }
}